**Python Assignment 1**

1. In the below elements which of them are values or an expression?
eg:- values can be
integer or string and expressions will be mathematical operators.

**Answer:**


**Expression:** *

**Value:** 'hello'

**Value:** -87.8

**Expression:** -

**Expression:** /

**Expression:** +

**Value:** 6

2. What is the difference between string and variable?


**Answer:**

String is data(a sequence of characters) which we can store in a variable. For example: 'hello' in question 1 is a string. Whereas variables are symbols which we can use to store data in a program.

3. Describe three different data types.

**Answer:**

**Numeric data types:**
- int: Holds signed integer numners ex: intVariable = 10,
- float: Holds floating precison numbers ex: floatVariable = 10.10,
- complex: Holds complex numbers ex: intVariable = 10+3x


**String data types:**
- str: string/str is a sequence of characters.
For example: stringVariable = "Hello World"


**Sequence types:**
- list: List is an ordered collection of data. For example: listVariable = ["Hello","world",2023,"July",3,2023],
- tuple: Tuple is immutable datatype which contains a collection of data. For example: tupleVariable = ("Hello","world",2023,"July",3,2023),


**Mapping data type:**
Dictionary/Dict: Dictionary is of key-value pair form of datastructure. It is an unordered collection of data. For example: dictVariable = {First_Name:"Rahul",Last_Name:"Chona", "Age":31}

4. What is an expression made up of? What do all expressions do?

**Answer:**
Expression is made up of variables, values/constants, operators and calls to other functions. Interpreter evaluates a expressions to get the result/value and return to the caller.

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

**Answer:**

Here statment spam = 10, is creating a variable named spam. Therefore, statement is used for defining variables.
Whereas expression get interpreted by the interpreter, to generate result/some value. Expression is made up of variables, values, operators and function calls.

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

**Answer:**

23

In [1]:
bacon = 22
bacon + 1

23

7. What should the values of the following two terms be?

'spam' + 'spamspam'

'spam' * 3

**Answer:**

Value of these two terms should be the same(As show below).

In [3]:
'spam' + 'spamspam'

'spamspamspam'

In [4]:
'spam' * 3

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?

**Answer: **

In Python, variable name cannot start with a number. Therefore, we cannot name a variable as 'eggs' but not as 100.

In [6]:
eggs = 'Valid Variable Name'

eggs

'Valid Variable Name'

In [7]:
100 = 'Invalid Variable Name'

100

SyntaxError: ignored

9. What three functions can be used to get the integer, floating-point number, or string version of a value?

**Answer:**

 int() , float() , and str( )

In [8]:
someValue = 10.10

int(someValue)

10

In [9]:
someValue = 10.10

float(someValue)

10.1

In [10]:
someValue = 10.10

str(someValue)

'10.1'

10. Why does this expression cause an error? How can you fix it?

'I have eaten ' + 99 + ' burritos.'

**Answwer:**

Because we can only concatenate only str typeOf values. And since 99 is an integre typeOf value, we getting the error.

To fix this error, we can convert 99 to string type.

For example(As shown below): 'I have eaten ' + str(99) + ' burritos.'

In [11]:
'I have eaten ' + 99 + ' burritos.'

TypeError: ignored

In [12]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'