<a href="https://colab.research.google.com/github/RahulChona11091991/Python/blob/main/Python_Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.What are the two values of the Boolean data type? How do you write them?

**Answer:**
Boolean data type has only two values - True or False. There are two ways to write them as follows

- True: Numerically, True can also be written as 1
- False: Numerically, False can also be written as 0

2. What are the three different types of Boolean operators?

**Answer:**

Three different type of Boolean operators are

- And: Conjunction, means if all the variables are true, then expression will return true as result else false
- Or: Disjunction, means if any one of the variables is true, then expression will return true as result else false
- Not: Negation, means if variable is true, it will return false and visa-versa

In [ ]:
True and True == True

False

In [ ]:
True and False == True

False

In [ ]:
True or False == True

True

In [ ]:
False or False == True

False

In [ ]:
not False

True

In [ ]:
not True

False

3. Make a list of each Boolean operator's truth tables (i.e. every possible combination of Boolean values for the operator and what it evaluate).

**Answer:**

**and operator**

operand1 and operand2 = Result

True and True = True

True and False = False

False and False = False

False and True = False

**or operator**

operand1 or operand2 = Result

True or True = True

True or False = True

False or False = False

False or True = True

**not operator**

not operand1 = Result

not True = False

not False = True

4. What are the values of the following expressions?

(5 > 4) and (3 == 5) **False**

not (5 > 4) **False**

(5 > 4) or (3 == 5) **True**

not ((5 > 4) or (3 == 5)) **False**

(True and True) and (True == False) **False**

(not False) or (not True) **True**

In [ ]:
(5 > 4) and (3 == 5)

False

In [ ]:
not (5 > 4)

False

In [ ]:
(5 > 4) or (3 == 5)

True

In [ ]:
not ((5 > 4) or (3 == 5))

False

In [ ]:
(True and True) and (True == False)

False

In [ ]:
(not False) or (not True)

True

5. What are the six comparison operators?

**Answer:**

- Opertaor '=='	**Equal**
example: x == y

- Opertaor '!='	**Not Equal**
example: x != y

- Opertaor '>='	**Greater Than or equal to**
example: x >= y

- Opertaor '<='	**Less Than or equal to**
example: x <= y

- Opertaor '>'	**Greater Than**
example: x > y

- Opertaor '<'	**Less Than**
example: x < y

6. How do you tell the difference between the equal to and assignment operators? Describe a condition and when you would use one.

**Answer:**
Assignment operator: It change the variable on the left of the assignment operator.

For example:

numberOfHours = 24

numberOfHours = numberOfHours + 1


Equal to operator: It does not change the value, but check for equality between left and right side and returns a boolean value True/False as a result.

For example:

numberOfHoursBefore = 24

numberOfHoursAfter = numberOfHoursBefore + 1

In [ ]:
# Assignment Operator

numberOfHours = 24
print(numberOfHours)

numberOfHours = numberOfHours + 1
print(numberOfHours)

24
25

In [ ]:
# Equal Operator
numberOfHoursBefore = 24
print('numberOfHoursBefore: ', numberOfHoursBefore)

numberOfHoursAfter = numberOfHoursBefore + 1
print('numberOfHoursAfter: ', numberOfHoursAfter)

print('Are they equal: ', numberOfHoursBefore == numberOfHoursAfter)

Are they equal:  False

7. Identify the three blocks in this code:

spam = 0
<!-- Block 1 - START -->
if spam == 10:
print('eggs')
<!-- Block 1 - END -->
<!-- Block 2 - START -->
if spam > 5:
print('bacon')
<!-- Block 2 - END -->
<!-- Block 3 - START -->
else:
print('ham')
print('spam')
print('spam')
<!-- Block 3 - END -->

In [ ]:
spam = 0
# BLOCK 1 - START
if spam == 10:
  print('eggs')
  if spam > 5:
    # BLOCK 2 - START
    print('bacon')
    # BLOCK 2 - END
  else:
    # BLOCK 3 - START
    print('ham')
    print('spam')
    print('spam')
  # BLOCK 3 - END
  # BLOCK 1 - END

8. Write code that prints Hello if 1 is stored in spam, prints Howdy if 2 is stored in spam, and prints Greetings! if anything else is stored in spam.

In [ ]:
spam = 1
if spam == 1:
  print('Hello')
elif spam == 2:
  print('Howdy')
else:
  print('Greetings!')

spam = 2 #Overiding value
if spam == 1:
  print('Hello')
elif spam == 2:
  print('Howdy')
else:
  print('Greetings!')

spam = 3 #Overiding value
if spam == 1:
  print('Hello')
elif spam == 2:
  print('Howdy')
else:
  print('Greetings!')

Hello
Howdy
Greetings!

9.If your programme is stuck in an endless loop, what keys you’ll press?

**Answer:**

Ctrl+C

10. How can you tell the difference between break and continue?

**Answer:** In the current loop, Break keyword terminates the loop execution and control goes out of the loop. But Continue keyword skip just the current iteration of the loop and iterator start executing next iteration of the loop.

In [ ]:
for i in range(0,5):
       if i == 3:
             break
       else:
              print (i)

0
1
2

In [ ]:
for i in range(0,5):
       if i == 1 or i == 3 :
             continue
       else:
              print (i)

0
2
4

11. In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?

**Answer:**

There is no difference in the output as shown below.

Range function has three constructors which give us three different ways of specific a range of iterations

- range(10): starts from '0'(by default) and ends on '9' i.e "end-1"
- range(0,10): starts from '0'(Explicitly mentioned by the user) and ends on '9' i.e "end-1"
- range(0,10,1): starts from '0'(Explicitly mentioned by the user) and ends on '9' taking step of +1 in each iteration.

In [ ]:
for i in range(10):
  print (i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(0,10):
  print (i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(0,10,1):
  print (i)

0
1
2
3
4
5
6
7
8
9

12. Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalent program that prints the numbers 1 to 10 using a while loop.

In [ ]:
for index in range(0,10,1):
  print(index+1)

1
2
3
4
5
6
7
8
9
10

In [ ]:
index = 1
while index <= 10:
  print(index)
  index = index+1

1
2
3
4
5
6
7
8
9
10

If you had a function named bacon() inside a module named spam, how would you call it after importing spam?

**Answer:**
spam.bacon()